<%= form_for @profile, url: profile_path do |f| %>
  <%- type = f.object.errors.present? ? :danger : :success %>
  <%- message = f.object.errors.present? ? f.object.errors.full_messages.join(', ') : flash.now[:notice] %>
  <%= render_error_message(type, message) %>
  <div class="mb-3">
    <%= f.label :first_name, class: 'd-block' %>
    <%= f.text_field :first_name %>
  </div>
  <div class="mb-3">
    <%= f.label :last_name, class: 'd-block' %>
    <%= f.text_field :last_name %>
  </div>
  <div class="mb-3">
    <%= f.submit I18n.t(:save) %>
  </div>
<% end %>