<% content_for :breadcrumbs do %>
  <div class="d-flex align-items-center pt-2 pb-2">
    <div class="me-auto"><%= t(:home) %> &#8618; <%= User::Profile.model_name.human %></div>
  </div>
<% end %>

<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= User::Profile.model_name.human %></h5>
    <div class="row">
      <div class="col-2">
        <%= image_tag current_user.avatar.variant(resize_to_limit: [180, 180]), class: 'rounded-circle' %>
      </div>
      <div class="col">
        <%= render 'profile', profile: @profile %>
      </div>
    </div>
  </div>
</div>