<%- @page_title = User::Profile.model_name.human %>

<%= render_breadcrumbs([t(:home), User::Profile.model_name.human]) %>
<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= User::Profile.model_name.human %>
    </h5>
    <div class="row">
      <div class="col-2">
        <%= image_tag current_user.avatar.variant(resize_to_limit: [180, 180]), class: 'rounded-circle' %>
      </div>
      <div class="col">
        <%= render 'tabs' %>
        <div class="tab-content" id="profileTabContent">
          <div class="tab-pane pt-3 show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <%= render 'profile', profile: @profile %>
          </div>
          <div class="tab-pane pt-3" id="account" role="tabpanel" aria-labelledby="account-tab">
            <%= render 'accounts/account' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>