<%- title "Welcome to #{site_name}" -%>
<h3>Welcome to <%= site_name %></h3>
<table>
  <tr>
    <td valign="top" width="50%">
      <div style="border:1px solid #cccccc;padding:5px;">
        <h3>Register here</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        </ul>
        <p>
          <span style="padding:2px;background-color:green;color:white;"><%= link_to "Sign Up", "/register" %></span>
        </p>
      </div>
    </td>
    <td valign="top" width="25%">
      <div style="border:1px solid #cccccc;padding:5px;">
        <h3>Sign in to your account</h3>
      
        <%- form_tag(sessions_url) do -%>
        <%= content_tag(:p, flash[:notice]) unless flash[:notice].blank? %>
        <p>
          <%= label_tag :username %>
          <%= text_field_tag :username %>
          <%= set_focus_to('username') %>
        </p>
        <p>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= link_to "forgot password", "/forgot_password" %>
        </p>
        <p>
          <label>
            <%= check_box_tag :remember_me %>
            Remember me ?
          </label>
        </p>
        <p>
          <%= submit_tag("Login") %> <%= link_to("Cancel") %>
        </p>
      <%- end -%>
      </div>
    </td>
  </tr>
</table>