<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% error_messages = flash.now[:alert] %>
  <% if error_messages.present? %>
    <% content_for :alert do %>
      <div class="position-relative">
        <div class="position-absolute top-0 start-50 translate-middle" style="top:-35px !important;font-size:small;">
          <%= render_error_message(:danger, [error_messages]) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, class: 'd-block' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'd-block' %>
    <%= f.password_field :password, autocomplete: "current-password", required: true %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check mb-3">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>

  <%= f.submit "Log in" %>
<% end %>
