<%= form_with model: @store, local: local, url: url, builder: BerjubelFormBuilder,
  data: { 'bj-remote': !local, 'bj-processor': 'store/validate-form' } do |f| %>

  <%= f.alert %>
  <%= f.text_form_group :name %>

  <div class="mb-3 form-group">
    <%= f.label :domain_name, class: 'd-block' %>
    <div class="input-group">
      <div class="input-group-text pe-0">
        <%= "http://#{Rails.application.config.x.host_name}/" %>
      </div>
      <%= f.text_field :domain_name, class: "#{render_field_class(@store, :domain_name)} ps-0", disabled: @store.persisted? %>
    </div>
    <%= f.invalid_feedback :domain_name %>
    <%= f.valid_feedback :domain_name %>
  </div>

  <%= f.text_area_form_group :description %>
  <%= f.file_form_group :avatar %>

  <div class="mb-3 form-action">
    <%= f.submit t(:save), class: 'btn btn-secondary' %>
  </div>
<% end %>