<%- @page_title = [Store.model_name.human(count: 2), t(:edit), @store.name].join(' | ') %>

<%= render_breadcrumbs([
  link_to(t(:home), root_path),
  link_to(t(:my_store), stores_path),
  link_to(@store.name, store_path(@store)),
  t(:edit)
]) %>
<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= [t(:edit), @store.name].join(' ') %>
    </h5>
    <div class="row">
      <div class="col-2">
        <%- if @store.avatar.attached? %>
          <%= image_tag @store.avatar.variant(resize_to_limit: [180, 180]) %>
        <% else %>
          <%= image_tag '/default/camera.svg', width: '180px', class: 'me-2', style: 'opacity:0.1' %>
        <% end %>
      </div>
      <div class="col">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
