<%- @page_title = [Store.model_name.human, @store.name].join(' | ') %>

<%= render_breadcrumbs([
  link_to(t(:home), root_path),
  link_to(t(:my_store), stores_path), @store.name
]) %>
<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <% if @store.avatar.attached? %>
        <%= image_tag @store.avatar.variant(resize_to_limit: [80, 80]), class: 'me-2' %>
      <%- else -%>
        <%= image_tag '/default/camera.svg', width: '80px', class: 'me-2', style: 'opacity:0.1' %>
      <% end %>
      <div class="me-auto">
        <h5 class="card-title">
          <%= @store.name %>
        </h5>
        <p>
          <%= @store.description %>
        </p>
      </div>
      <%- if current_user.my_store?(@store) -%>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <%= link_to_main_modal t(:edit),
                title: t('stores.update.title', name: @store.name),
                processor: 'store/fetch-form',
                url: edit_store_path(@store),
                class: 'btn btn-outline-primary' %>
          <%= link_to_main_modal t(:delete),
                title: t(:are_you_sure),
                processor: 'store/destroy',
                url: store_path(@store),
                method: :delete,
                class: 'btn btn-outline-primary'  %>
        </div>
      <% else %>
        <button class="btn btn-link"><%= t(:follow) %></button>
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs border-bottom-0">
  <li class="nav-item">
    <%= link_to content_tag(:strong, Item.model_name.human(count: 2)), '#',
          class: 'nav-link active', 'aria-current': 'page' %>
  </li>
  <li class="nav-item me-auto">
    <%= link_to content_tag(:strong, 'Review'), '#', class: 'nav-link' %>
  </li>
  <%- if current_user.my_store?(@store) %>
    <li class="nav-item">
      <%= link_to_main_modal 'Add item',
            title: t(:new),
            processor: 'item/fetch-form',
            url: new_store_item_path(@store),
            class: 'btn btn-link' %>
    </li>
  <% end %>
</ul>

<div class="card border-top-0">
  <div class="card-body">

    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <%- @store.labels.uniq.each do |label| %>
          <button class="nav-link"
            id="v-pills-<%= label.name %>-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-<%= label.name %>"
            type="button"
            role="tab"
            aria-controls="v-pills-<%= label.name %>"
            aria-selected="false"><%= label.name %></button>
        <% end %>
      </div>
      <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="<%= build_items_classes %>">
              <%- if @items.present? %>
                <%= render_item_listing(@items, store: false) %>
              <% else %>
                <%= render 'new_item' %>
              <% end %>
            </div>
            <%= will_paginate(@items, renderer: BerjubelPagination) %>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      </div>
    </div>


  </div>
</div>