<%- title 'Register to berjubel' -%>

<%- form_for(:user, @user, :url => users_url) do |f| -%>
<%= content_tag(:p, f.error_messages) unless f.error_messages.blank? %>
<p>
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :re_type_password %><br />
  <%= f.password_field :password_confirmation %>
</p>
<p>
  By clicking <strong>Create</strong> button, you have agreed with our <%= link_to("term and conditions") %>
</p>
<p>
  <%= submit_tag("Create") %> <%= link_to("Cancel") %>
</p>
<%- end -%>