<%- local ||= false %>
<%- url = @item.persisted? ? store_item_path(@store, @item) : store_items_path(@store) %>

<%= form_with model: @item, url: url, local: local, builder: BerjubelFormBuilder do |f| %>
  <%= f.alert %>
  <%= f.text_form_group :name, placeholder: t('.name.placeholder'), autofocus: true %>
  <%= f.select_form_group :category_id, grouped_options_for_select(Category.to_nested_array, f.object.category_id), { prompt: t('.placeholder') } %>

  <div class="mb-3 form-group">
    <%= f.label :label_id %>
    <%= f.select :label_id, [], { prompt: t('.label_id.placeholder') }, class: 'form-control' %>
  </div>

  <%= f.text_area_form_group :description, placeholder: t('.description.placeholder'), rows: 10 %>
  <%= f.file_form_group :photos, multiple: true %>

  <div class="form-group">
    <%- f.object.photos.each do |p| %>
      <div class="position-relative d-inline-block m-2">
        <button class="btn position-absolute top-0 end-0" style="font-size:0.6rem;">&#10006;</button>
        <%= image_tag(p.variant(resize_to_limit: [80, 80])) %>
      </div>
    <% end %>
  </div>

  <div class="mb-3 form-action">
    <%= f.submit t(:save), class: 'btn btn-secondary' %>
  </div>
<% end %>