<%= search_form_for Item.ransack(params[:q]), id: 'item_search_sidebar' do |f| %>
  <div class="d-flex">
    <strong class="me-auto"><%= Category.model_name.human(count: 2) %></strong>
    <% if @parent_categories.present? %>
      <%= link_to_main_modal t(:reset),
          title: 'Are you sure want to reset categories?',
          processor: 'filter/reset-categories' %>
    <% end %>
  </div>
  <div class="list-group list-group-categories">
    <%- if @parent_categories.any? -%>
      <%= render 'items/filters/categories', f: f, categories: @parent_categories %>
    <%- else -%>
      <div class="list-group-item">
        <%= render 'empty' %>
      </div>
    <%- end -%>
  </div>
  <!--
  <div class="d-flex">
    <strong class="me-auto"><%= t(:price) %></strong>
    <%#= link_to_main_modal t(:reset),
        title: 'Are you sure want to reset prices?',
        body: 'this the body from prices' %>
  </div>
  <div class="list-group list-group-prices">
    <%#= render 'items/filters/prices', f: f %>
  </div>
  <div class="d-flex">
    <strong class="me-auto"><%= t(:rating) %></strong>
    <a href="#mainModal"
      data-bs-toggle="modal"
      data-bs-title="Are sure want to reset ratings?"
      data-bs-body="This is the body from ratings"><%= t(:reset) %></a>
  </div>
  <div class="list-group list-group-ratings">
    <%#= render 'items/filters/ratings', f: f %>
  </div>
  -->
<% end %>