<div class="accordion accordion-flush" id="accordionFilter">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseCategory"
              aria-expanded="true"
              aria-controls="collapseCategory">
        <%= Category.model_name.human(count: 2) %>
      </button>
    </h2>
    <div id="collapseCategory"
         class="accordion-collapse collapse show"
         aria-labelledby="headingCategory"
         data-bs-parent="#accordionFilter">
      <div class="accordion-body">
        <%= render 'items/filters/categories', categories: Category.parents %>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsePrice"
              aria-expanded="true"
              aria-controls="collapsePrice">
        <%= t(:price) %>
      </button>
    </h2>
    <div id="collapsePrice"
         class="accordion-collapse collapse"
         aria-labelledby="headingPrice"
         data-bs-parent="#accordionFilter">
      <div class="accordion-body">
        <%= render 'items/filters/prices' %>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseRating"
              aria-expanded="true"
              aria-controls="collapseRating">
        <%= t(:rating) %>
      </button>
    </h2>
    <div id="collapseRating"
         class="accordion-collapse collapse"
         aria-labelledby="headingRating"
         data-bs-parent="#accordionFilter">
      <div class="accordion-body">
        <%= render 'items/filters/ratings' %>
      </div>
    </div>
  </div>
</div>