<% @page_title = Item.model_name.human(count: 2) %>
<% render_search_form %>
<% render_floating_alert([flash.now[:notice]].compact, :success) %>
<% render_breadcrumbs([link_to(t(:home), root_path, class: 'text-decoration-none'), Item.model_name.human(count: 2)]) %>

<div class="d-flex align-items-center">
  <div class="me-auto fs-5">
    <%= link_to t(:all), items_path, class: 'badge rounded-pill bg-primary text-decoration-none' %>
    <%= link_to following_items_path, class: 'badge rounded-pill bg-info text-decoration-none position-relative' do %>
      Following
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    <% end %>
    <%= link_to 'My Items', me_items_path, class: 'badge rounded-pill bg-info text-decoration-none' %>
  </div>
  <div>
    <select class="form-select" aria-label="Default select example">
      <option selected>Sort by:</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="ms-2">
    <%= render_listing_items_selector if signed_in? %>
  </div>
</div>

<nav class="mt-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active"
      id="nav-item-tab"
      data-bs-toggle="tab"
      data-bs-target="#item"
      data-bs-processor="item/list/item"
      type="button"
      role="tab"
      aria-controls="item"
      aria-selected="true"><%= Item.model_name.human %></button>
    <button class="nav-link"
      id="nav-store-tab"
      data-bs-toggle="tab"
      data-bs-target="#store"
      data-bs-processor="item/list/store"
      type="button"
      role="tab"
      aria-controls="store"
      aria-selected="false"><%= Store.model_name.human %></button>
  </div>
</nav>

<div class="tab-content" id="itemTabContent">
  <div class="tab-pane show active" id="item" role="tabpanel" aria-labelledby="item-tab">
    <div class="my-3">
      <div class="<%= build_items_classes %>">
        <%= render_item_listing(@items) %>
      </div>
    </div>
    <%= render_records_navigation @items %>
  </div>
  <div class="tab-pane" id="store" role="tabpanel" aria-labelledby="store-tab">
    <div class="my-3">
      <div class="<%= build_items_classes %>">
        <% 9.times.each do %>
          <%= render 'column_placeholder' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
