<%- @page_title = Item.model_name.human(count: 2) %>

<%= render_search_form %>

<%= render_breadcrumbs([t(:home), Item.model_name.human(count: 2)]) %>

<div class="card">
  <div class="card-body">
    <div class="d-flex flex-row-reverse pe-3 pb-2">
      <%= render_listing_items_selector if signed_in? %>
    </div>
    <div class="<%= build_items_classes %>">
      <% @items.each do |item| %>
        <%= render item_listing_mode, item: item %>
      <% end %>
    </div>
  </div>
</div>

<%= will_paginate(@items) %>