<% @page_title = Item.model_name.human(count: 2) %>
<% render_search_form %>
<% render_floating_alert([flash.now[:notice]].compact, :success) %>
<% render_breadcrumbs([link_to(t(:home), root_path, class: 'text-decoration-none'), Item.model_name.human(count: 2)]) %>

<div class="d-flex align-items-center">
  <div class="me-auto fs-5">
    <%= link_to t(:all), items_path, class: 'badge rounded-pill bg-primary text-decoration-none' %>
    <%= link_to following_items_path, class: 'badge rounded-pill bg-info text-decoration-none position-relative' do %>
      Following
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    <% end %>
    <%= link_to 'My Items', me_items_path, class: 'badge rounded-pill bg-info text-decoration-none' %>
  </div>
  <div>
    <%= render_listing_items_selector if signed_in? %>
  </div>
</div>

<div class="my-3">
  <div class="<%= build_items_classes %>">
    <%- if @items.present? %>
      <%= render_item_listing(@items, store: false) %>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>

<%= render_records_navigation @items %>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMain" aria-labelledby="offcanvasMainLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMainLabel">Filter</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= render 'items/filters/form' %>
  </div>
</div>