<%#= react_component 'items/listing' %>
<div class="card mt-5">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% @items.each do |item| %>
        <li class="list-group-item">
          <%= image_tag(item.default_photo.variant(resize_to_limit: [250, 100])) %>
          <h3><%= item.name %></h3>
          <p><%= item.price %></p>
          <p><%= item.store.name %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= will_paginate(@items) %>