<%- @page_title = Item.model_name.human(count: 2) %>

<%= render_search_form %>

<%= render_floating_alert([flash.now[:notice]].compact, :success) %>

<div class="row">
  <div class="col-lg-2 pt-3">
    <%= render 'items/filters/form' %>
  </div>
  <div class="col-lg-10">
    <%= render 'breadcrumbs', items: [link_to(t(:home), root_path), Item.model_name.human(count: 2)] %>
    <div class="card mb-3">
      <div class="card-body">
        <% if @items.count.positive? %>
          <div class="d-flex align-items-center">
            <div class="me-auto fs-5">
              <%= link_to t(:all), '#', class: 'badge rounded-pill bg-primary' %>
              <%= link_to 'Following <span class="badge bg-danger">7</span>'.html_safe, '#', class: 'badge rounded-pill bg-info' %>
              <%= link_to 'My Items', '#', class: 'badge rounded-pill bg-info' %>
            </div>
            <div>
              <%= render_listing_items_selector if signed_in? %>
            </div>
          </div>
        <% end %>
        <div class="<%= build_items_classes %>">
          <%- if @items.present? %>
            <%= render_item_listing(@items, store: false) %>
          <% else %>
            <%= render 'empty' %>
          <% end %>
        </div>
      </div>
    </div>

    <%= will_paginate(@items, renderer: BerjubelPagination, class: 'pagination justify-content-center') %>
  </div>
</div>