<div class="row">
  <div class="col col-md-3">
    <div class="card">
      <div class="card-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
            </p>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        </div>

      </div>
    </div>

  </div>

	<div class="col col-md-6">
    <%= react_component 'items/listing' %>
	</div>

	<div class="col col-md-3">
    <h3><%= link_to 'Categories', categories_path %></h3>
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush list-categories-right-panel">
          <% Category.parents.each do |c| %>
            <li class="list-group-item">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#<%= "cat-#{c.id}"%>" style="padding:0;">
                <i class="material-icons md-18">add</i>
              </button>
              <a href="#"><%= c.name %></a>
              <ul class="list-group collapse" id="<%= "cat-#{c.id}" %>">
                <% c.children.each do |child| %>
                  <li class="list-group-item">
                    <%= link_to child.name %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
	</div>

</div>
