<%#= react_component 'items/listing' %>

<% content_for :search_form do %>
  <%= render 'layouts/search_form' %>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="d-flex align-items-center">
    <div class="me-auto">
      <%= t(:home) %>
    </div>
    <div class="me-2 fs-4">
      <%= render 'layouts/listing_mode_form' %>
    </div>
    <div>
      <%= select_tag 'order', options_for_select([['Featured', 0], ['Price: Low to High', 1], ['Price: High to Low', 1], ['Avg. Customer Review', 1]]) %>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center align-content-stretch flex-wrap">
      <%= render @items || 'empty_item' %>
    </div>
  </div>
</div>

<%= will_paginate(@items) %>