<%- title 'New Product' -%>

<h3>New Product</h3>

<%= error_messages_for(:item) %>

<%- form_for(@item, :html => {:multipart => true}) do |f| -%>
<fieldset>
  <legend>Listing Information</legend>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :listing_description %><br />
    <%= f.text_field :listing_description %>
  </p>
</fieldset>
<br />
<fieldset>
  <legend>General Product Information</legend>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= f.label :price %><br />
    $&nbsp;<%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :item_location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <div id="test" style="display:none;"></div>
    <%= f.file_field :file, :onchange => "$('new_item').writeAttribute('action', '/uploader');$('new_item').writeAttribute('target', 'RSIframe');$('new_item').submit();$('new_item').writeAttribute('action', '/items');" %>
    <iframe id="RSIframe" name="RSIframe" style="width:0px;height:0px;border:0"></iframe>
  </p>
</fieldset>
<p>
  <%= submit_tag("Submit") %> <%= link_to("Cancel", new_item_path) %>
</p>
<%- end -%>