<% @page_title = [Item.model_name.human(count: 2), @item.name].join(' | ') %>
<% render_search_form %>
<% render_breadcrumbs([link_to(t(:home), root_path, class: 'text-decoration-none'), link_to(Item.model_name.human(count: 2), items_path, class: 'text-decoration-none'), @item.name]) %>
<% render_floating_alert([flash.now[:notice]].compact, :success) %>

<%= link_to_back %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col d-flex align-items-start">
        <div class="vstack" style="width:42px;">
          <%- @item.photos.each_with_index do |photo, i| %>
            <a href="#carouselItemPhotos" data-bs-slide-to="<%= i %>" class="mb-1 text-center border border-primary" style="width:42px;">
              <%= image_tag photo.variant(resize_to_limit: [40, 40]) %>
            </a>
          <% end %>
        </div>
        <div id="carouselItemPhotos" class="carousel m-3" data-bs-interval="false">
          <div class="carousel-inner">
            <% @item.photos.each_with_index do |photo, i| %>
              <div class="carousel-item <%= 'active' if i.zero? %>">
                <%= image_tag photo, class: 'd-block w-100' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h3>
          <%= link_to @item.store.name, store_path(@item.store), class: 'text-decoration-none' %>
        </h3>
        <div>
          <button type="button" class="btn p-0">12345 Penjualan</button> | 

          <span class="dropdown">
            <button class="btn p-0 dropdown-toggle" type="button" data-bs-toggle="dropdown">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-black-50"></i>
            </button>
            <%= render 'ratings' %>
          </span>
        </div>

        <h1 class="card-title d-flex">
          <span class="me-auto"><%= @item.name %></span>
          <%#= render_item_action(@item) %>
        </h1>
        <div class="mb-3">
          <span class="badge bg-info text-dark"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                title="Qui elit <em>adipisicing</em> non non magna enim. Eu anim laborum tempor proident elit eu esse ex. Officia <strong>amet</strong> nostrud duis dolore laborum ad elit pariatur adipisicing velit non velit anim. Incididunt culpa voluptate non dolore do proident irure Lorem excepteur aliquip eiusmod ea do et. Consectetur voluptate Lorem est incididunt mollit eiusmod proident incididunt mollit nulla irure tempor ad. Consequat ut nulla id Lorem nostrud elit excepteur enim ex culpa.">Editor pick / Best Seller</span>
        </div>

        <h2>
          Rp. 5000
        </h2>

        <div class="mb-4 d-flex justify-content-between">
          <button type="button" class="btn btn-success">+ Cart</button>
          <button type="button" class="btn btn-secondary">+ Wishlist</button>
        </div>

        <div class="accordion accordion-flush" id="accordionItem">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%= Item.human_attribute_name :description %>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
              <div class="accordion-body">
                <%= simple_format(@item.description) %>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Pengiriman dan Pengembalian
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Hubungi Penjual
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>