<ul class="navbar-nav d-flex align-items-center ms-auto">
  <li>
    <%= render 'layouts/locale_form' if signed_in? %>
  </li>
  <li class="dropdown">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_limit: [40, 40]), class: 'rounded-circle' %>
    <% else %>
      <i class="bi bi-file-person fs-3"></i>
    <% end %>
    <%= link_to render_user_name, '#', class: 'dropdown-toggle', 'data-bs-toggle': 'dropdown' %>
    <ul class="dropdown-menu">
      <li>
        <%= link_to User::Profile.model_name.human, profile_path, class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to User::Setting.model_name.human, setting_path, class: 'dropdown-item' %>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </li>
    </ul>
  </li>
</ul>