<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="mask-icon" href="/favicon.svg" color="#000000">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="upper-alert" class="alert-warning p-1 mt-1" role="alert">
      <strong><%= t(:loading) %>...</strong>
    </div>
    <%= render 'layouts/header' unless devise_controller? %>
    <div class="container">
      <%= yield :breadcrumbs %>
      <%= yield :alert %>
      <%= yield %>
    </div>
    <%= render 'layouts/main_modal' %>
  </body>
</html>
