<!DOCTYPE html>
<html>
  <head>
    <title>Berjubel | Online shopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <%= link_to root_url, class: 'navbar-brand' do %>
          <%= image_tag('logo.png') %>
          <!--<span style="color:green;font-weight:bold;display:block;float:right;margin-top:17px;margin-left:2px;">erjubel</span>-->
        <% end %>

        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarText">
          <div class="dropdown">
            <a href="#" class="btn" data-toggle="dropdown">
              <%= image_tag('icons/round_account_circle_black_24dp.png') %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">Profile</a>
              <a href="#" class="dropdown-item">Messages</a>
              <a href="#" class="dropdown-item">Settings</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#" class="btn" data-toggle="dropdown">
              <%= image_tag('icons/ic_notifications_black_24dp.png') %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item-text">Wait sakeudeung...</a>
            </div>
          </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </header>

    <div class="container" style="margin-top: 90px">
      <%= yield %>
    </div>
  </body>
</html>
