<!DOCTYPE html>
<html>
  <head>
    <title>Berjubel | Online marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield :breadcrumbs %>
      <%= yield :alert %>
      <%= yield %>
    </div>
  </body>
</html>
