<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render_floating_alert(resource.errors.full_messages) %>

  <div class="mb-3">
    <%= f.label :email, class: 'd-block' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: render_field_class(resource, :email), required: true %>
    <%= render_error_message_for(resource.errors[:email]) %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, class: 'd-block' %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password",
          placeholder: t('devise.shared.minimum_password_length', count: @minimum_password_length),
          class: render_field_class(resource, :password), required: true %>
    <%= render_error_message_for(resource.errors[:password]) %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'd-block' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: render_field_class(resource, :password_confirmation), required: true %>
    <%= render_error_message_for(resource.errors[:password_confirmation]) %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class: 'd-block' %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password",
          class: render_field_class(resource, :current_password), required: true %>
    <%= render_error_message_for(resource.errors[:current_password]) %>
  </div>

  <%= f.submit t(:update) %>
<% end %>