<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true,
          autocomplete: "email",
          class: "form-control#{resource.errors.messages[:email].present? ? ' is-invalid' : nil}" %>
    <div class="invalid-feedback">
      <%= resource.errors.messages[:email].join(', ') %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password",
          placeholder: "#{@minimum_password_length} characters minimum",
          class: "form-control#{resource.errors.messages[:password].present? ? ' is-invalid' : nil}" %>
    <div class="invalid-feedback">
      <%= resource.errors.messages[:password].join(', ') %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "form-control#{resource.errors.messages[:password_confirmation].present? ? ' is-invalid' : nil}" %>
    <div class="invalid-feedback">
      <%= resource.errors.messages[:password_confirmation].join(', ') %>
    </div>
  </div>

  <%= f.submit "Sign up", class: "btn btn-outline-primary" %>
<% end %>