<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: 'd-block' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: render_field_class(resource, :email), required: true %>
    <%= render_error_message_for(resource.errors[:email]) %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'd-block' %>
    <%= f.password_field :password, autocomplete: "new-password",
          placeholder: "#{@minimum_password_length} characters minimum",
          class: render_field_class(resource, :password), required: true %>
    <%= render_error_message_for(resource.errors[:password]) %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'd-block' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: render_field_class(resource, :password_confirmation), required: true %>
    <%= render_error_message_for(resource.errors[:password_confirmation]) %>
  </div>

  <%= f.submit "Sign up" %>
<% end %>